main {
  /* pushes the footer down to bottom of page */
  min-height: 80vh;
}

h5 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

.list-group {
  background-color: transparent;
  border-style: none;
  /* min-height: 33vh; */
}

/* Rating Stars */
.rating span {
  margin: 0.1rem;
}
